* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

ul li,
a {
  font-weight: 400;
  font-size: 30px;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

ul {
  display: flex;
  gap: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  background-color: #333;
}

.nav,
h2 {
  font-size: 30px;
  font-weight: 600;
}

.nav,
h3 {
  text-decoration: underline 5px red;
}

.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.sliderWraper {
  width: 500vw;
  display: flex;
  transition: all 1s ease-in-out;
}

nav,
.list {
  cursor: pointer;
}

.sliderItems {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  border: 1px solid rgb(112, 128, 144);
}

.sliderBg {
  position: absolute;
  width: 750px;
  height: 750px;
  /* background-color: grey; */
  border-radius: 50%;
}

.slider img {
  z-index: 1;
}

.sliderText {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.slider button {
  position: absolute;
  top: 60%;
  padding: 20px;
  color: white;
  border: 3px solid rgb(22, 143, 22);
  background-color: #000;
  font-weight: bolder;
  font-size: larger;
}

.slider button:hover {
  background-color: white;
  color: #000;
  cursor: pointer;
}

.sliderItems:nth-child(1) .sliderBg {
  background-color: grey;
}

.sliderItems:nth-child(2) .sliderBg {
  background-color: rgb(22, 143, 22);
}

.sliderItems:nth-child(3) .sliderBg {
  background-color: #d60e0e;
}

.sliderItems:nth-child(4) .sliderBg {
  background-color: #bd6925;
}

.sliderItems:nth-child(5) .sliderBg {
  background-color: #ca4a4a;
}

.sliderItems:nth-child(1) .sliderPrice {
  color: grey;
}

.sliderItems:nth-child(2) .sliderPrice {
  color: rgb(22, 143, 22);
}

.sliderItems:nth-child(3) .sliderPrice {
  color: #d60e0e;
}

.sliderItems:nth-child(4) .sliderPrice {
  color: #bd6925;
}

.sliderItems:nth-child(5) .sliderPrice {
  color: #ca4a4a;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.featureImg {
  width: 70px;
}

.featureTitle {
  font-size: x-large;
  font-weight: 700;
  opacity: 0.7;
}

.featureDec {
  font-size: small;
  font-weight: 300;
  color: slategrey;
}

.product {
  height: 100vh;
  position: relative;
  background-color: whitesmoke;
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
}

.payment {
  width: 500px;
  height: 500px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.paymentTitle {
  font-size: 20px;
  color: rgb(219, 215, 215);
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid rgb(219, 215, 215);
}

.payInput::placeholder {
  color: rgb(180, 177, 177);
}

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

#payButton {
  position: relative;
  height: 40px;
  width: 100%;
  margin: 0;
  left: 0;
  background-color: rgb(199, 207, 214);
  color: #fff;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#close {
  width: 20px;
  height: 20px;
  position: absolute;
  color: #0e0d0d;
  background: #e7c1c1;
  top: 0;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.productingImg {
  width: 50vw;
}

.productDetails {
  width: 40%;
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 50px;
}

.productDetails h1 {
  position: relative;
  font-size: 77px;
}

.productPrice {
  position: relative;
  top: 20px;
}

.productDesc {
  position: relative;
  top: 50px;
  font-size: 1vw;
  color: gray;
}

.colors,
.sizes {
  display: flex;
}

.color {
  position: relative;
  top: 50px;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: #000;
  cursor: pointer;
  margin-top: 20px;
}

.color:last-child {
  margin-left: 20px;
  background-color: #00008b;
}

.size {
  position: relative;
  top: 50px;
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
}

.product button {
  position: relative;
  left: 80%;
  padding: 10px;
  margin-top: 20%;
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.product button {
  background: #fff;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerShowesCircle {
  width: 50rem;
  height: 50rem;
  border-radius: 100%;
  background-color: #7fb950;
}

.headerShowesCircle img {
  width: 50rem;
}

.left p {
  margin-top: 20px;
  font-size: 50px;
  font-weight: lighter;
  opacity: 0.8;
  color: white;
  background: #000;
  border: 1px solid rgb(128, 158, 189);
  padding: 20px;
}

.center {
  z-index: 0;
}

.right p {
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  color: white;
  z-index: 1;
}

.right :nth-child(4) {
  margin-top: 20px;
  padding: 20px;
  background-color: #000;
  color: #fff;
  border: 2px solid #7fb950;
  font-size: xx-large;
}

.gallery {
  padding: 50px;
  display: flex;
  margin: 50px 0;
}

.galleryItem {
  flex: 1;
  padding: 50px;
}

.gallery img {
  width: 100%;
}

.gallery h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  color: rgb(88, 161, 127);
}

.imageAndwords {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
  height: 400px;
  background-color: rgb(27, 26, 26);
  overflow: hidden;
}
.imageAndwords h4,
h2,
h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  margin-top: 20px;
  color: white;
}

.imageAndwords button {
  background-color: #faf3f3;
  padding: 10px;
  margin-top: 20px;
  color: #000;
  font-size: 30px;
  font-weight: 500;
}

.imageAndwords img {
  width: 30vw;
}

.image1 img {
  width: 30vw;
}

footer {
  /* background-color: red; */
  padding: 60px 50px;
  height: 400px;
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
  flex-direction: column;
}

footer li {
  font-weight: bolder;
  color: #000;
  font-size: medium;
}

footer .icon img {
  /* background-color: red; */
  margin: 5px;
  width: 20px;
}

@media (max-width: 390px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    padding: 20px;
  }

  .search {
    display: none;
  }

  .navBottom {
    flex-wrap: wrap;
  }

  .menuItem {
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  nav .list {
    font-size: small;
  }

  nav h2 {
    display: none;
  }

  nav h3 {
    font-size: small;
    text-decoration: underline 2px red;
    position: absolute;
    right: 150px;
    margin-top: 20px;
  }

  .slider {
    clip-path: none;
  }

  .slider img {
    width: 90%;
  }

  .sliderBg {
    width: 100%;
    height: 100%;
  }

  .sliderText {
    display: none;
  }

  .sliderPrice {
    top: unset;
    bottom: 0;
    left: 0;
    background-color: lightgrey;
  }

  .slider button {
    right: 0;
    top: 0;
    font-size: 20px;
  }

  .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25%;
  }

  .product {
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50% 0;
    height: 1;
  }

  .productDetails {
    width: 90%;
    /* padding: ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
    left: 10px;
  }

  .productDetails h1 {
    font-size: 20px;
    margin: 0;
  }

  .product img {
    width: 80%;
  }

  .productDesc {
    font-size: medium;
  }

  .product button {
    width: 200px;
    display: flex;
    justify-content: center;
    left: 0;
  }

  /* .gallery {
    display: none;
  } */

  .imageAndwords {
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .imageAndwords img {
    width: 300px;
  }

  footer ul {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footerDown {
    width: 100%;
    display: ;
  }
}
